@model BanSearchViewModel
@{
    ViewBag.Title = "CentCom | Search Bans";
}
<h2 class="mb-3">Search Results for '@Model.CKey'</h2>

<div class="pl-1 pr-1">
    @if (!Model.Data.Any())
    {
        <div>
            <p>
                Found no bans for the searched key, perhaps that's a good thing!
            </p>
        </div>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">CKey</th>
                    <th scope="col">Server Bans</th>
                    <th scope="col">Job Bans</th>
                    <th scope="col">Latest Ban</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var b in Model.Data)
                    {
                        <tr>
                            <td>@b.CKey</td>
                            <td>@b.ServerBans</td>
                            <td>@b.JobBans</td>
                            <td>@b.LatestBan.ToString("yyyy'-'MM'-'dd HH':'mm':'ss")</td>
                            <td><a asp-controller="Viewer" asp-action="ViewBans" asp-route-key="@b.CKey" class="btn btn-outline-primary">View</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
</div>
