@model BanViewViewModel
@{
    ViewBag.Title = "CentCom | View Bans";

    var banTraits = new Dictionary<int, List<(string title, string value)>>();
    foreach (var b in Model.Bans)
    {
        var thisBan = new List<(string title, string value)>
        {
            ("Banned", b.BannedOn.ToString("yyyy'-'MM'-'dd HH':'mm':'ss")),
            ("Admin", b.BannedBy)
        };

        if (b.Expires.HasValue)
        {
            thisBan.Add(("Expires", b.Expires.Value.ToString("yyyy'-'MM'-'dd HH':'mm':'ss")));
        }
        if (b.BanID != null)
        {
            thisBan.Add(("Origin Ban ID", b.BanID));
        }
        if (b.Jobs != null)
        {
            thisBan.Insert(0, ("Jobs", string.Join(", ", b.Jobs)));
        }
        if (b.UnbannedBy != null)
        {
            thisBan.Add(("Unbanned By", b.UnbannedBy));
        }
        banTraits.Add(b.ID, thisBan);
    }
}

<div class="col-12 col-lg-9 mr-auto">
    <h2 class="mb-3">
        Ban Data for '@Model.CKey'
        <a asp-controller="Viewer" asp-action="ViewBans" asp-route-key="@Model.CKey" asp-route-onlyactive="@(!Model.OnlyActive)" class="btn btn-outline-primary float-right">Show @(Model.OnlyActive ? "All" : "Active")</a>
    </h2>

    @{
        if (Model.Bans.Count() == 0)
        {
            <div>
                <p>
                    Found no bans for this ckey, perhaps you wish to <a asp-controller="Viewer" asp-action="SearchBans" asp-route-key="@Model.CKey">search</a> for this ckey instead?
                </p>
            </div>
        }
        else
        {

            @foreach (var b in Model.Bans.OrderByDescending(x => x.BannedOn))
            {
                <div class="ban-container @(b.Active ? "active-ban" : (b.UnbannedBy != null ? "lifted-ban" : "expired-ban"))">
                    <div class="ban-title">
                        <span>@(b.Type) Ban | @b.SourceName | @(b.Active ? "Active" : (b.UnbannedBy != null ? "Unbanned" : "Expired"))</span>
                    </div>
                    <div class="ban-contents">
                        <div class="ban-reason">@b.Reason</div>
                        <div class="ban-attribute-container">
                            @foreach (var kvp in banTraits[b.ID])
                            {
                                <span class="ban-trait"><b class="ban-trait-title">@kvp.title</b>: @kvp.value</span>
                            }
                            @if (b.BanAttributes?.Count() > 0)
                            {
                                <span class="ban-trait"><b class="ban-trait-title">CentCom Attributes</b>: @(string.Join(", ", b.BanAttributes))</span>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>